<div class="form post_new">
    
    <%= form_tag "/posts/create" do %>
    <p>タイトル:</p>
    <input type="text" name="title">   
    <% if @post.errors.messages[:title].any? %>
    <span class="error"><%= @post.errors.messages[:title][0] %></span>
    <% end %>

    
    <p>内容:</p>
    <textarea name="content"></textarea>
    <% if @post.errors.messages[:content].any? %>
    <span class="error"><%= @post.errors.messages[:content][0] %></span>
    <% end %>

        <br>
    <input type="submit" value="投稿">
    <% end %>
    </div>